# Learning Materials
# Web Design with HTML, CSS, JavaScript and jQuery Set by Jon Duckett
# Pragmatic Guide to Git by Travis Swicegood
# JavaScript: The Definitive Guide: Activate Your Web Pages by David Flanagan
# JavaScript: The Good Parts by Douglas Crockford
# 